{{- $ephemeral := false -}}{{/* true if this machine is ephemeral, e.g. a cloud or VM instance */}}
{{/* detect GitHub codespaces, VSCode remote containers, Docker containers, Multipass VMs, and Vagrant boxes */}}
{{- if or (env "CODESPACES") (env "REMOTE_CONTAINERS_IPC") (eq .chezmoi.username "root" "ubuntu" "vagrant" "vscode") -}}
{{-   $ephemeral = true -}}
{{- end -}}
{{- $name := promptStringOnce . "name" "Enter your name" -}}
{{- $email := promptStringOnce . "email" "Enter your email address" -}}
{{- $all_usages := list "perso" "dev" -}}
{{- $usages := promptMultichoiceOnce
    . "usages"
    "What usage is this computer for"
    $all_usages
    (list "perso" "dev")
-}}

[data]
name = {{ $name | quote }}
email = {{ $email | quote }}
usages = {{ $usages | toToml }}
ephemeral = {{ $ephemeral }}

additionalSessionPaths = []

#[[data.additionalNetrcEntries]]
#machine = ""
#login = ""
#password = ""

[data.additionalBrews]
taps = []
brews = []
casks = []
vscodeExtensions = []

[github]
refreshPeriod = "12h"
