if [[ -n $GHOSTTY_RESOURCES_DIR ]]; then
  source "$GHOSTTY_RESOURCES_DIR"/shell-integration/zsh/ghostty-integration
fi

setopt autocd
setopt histignorespace
setopt rm_star_silent

fpath=(~/.local/share/zsh $fpath)
autoload -Uz compinit && compinit
source <(jj util completion zsh)
source <(mise completion zsh)
source <(chezmoi completion zsh)

if [[ $TERM != "dumb" ]]; then
  eval "$(direnv hook zsh)"
  eval "$(mise activate zsh)"
  eval "$(zoxide init zsh --cmd cd)"
  eval "$(starship init zsh)"
  eval "$(pay-respects zsh --alias)"
fi

alias -- eza='eza --icons auto --git --group-directories-first --links --header --git --classify -a'
alias -- la='eza -a'
alias -- ll='eza -l'
alias -- lla='eza -la'
alias -- ls=eza
alias -- lt='eza --tree'
