if [[ -e ~/.local/bin/mise ]]; then
    eval "$(~/.local/bin/mise activate zsh --shims)"
fi

# Variables after the following line get only sourced once
if [ -n "$__SESS_VARS_SOURCED" ]; then return; fi

#export PATH="$HOME/.rd/bin:$HOME/.local/bin${PATH:+:}$PATH"

export __SESS_VARS_SOURCED=1
