{{ if eq .chezmoi.os "darwin" -}}
#!/bin/bash

if ! (command -v mas 2>&1 >/dev/null); then
  echo "Mas is not installed, proceeding to installation ...";
  brew install mas;
fi

if ! (command -v mise 2>&1 >/dev/null); then
  echo "mise is not installed, proceeding to installation ...";
  curl https://mise.run | MISE_INSTALL_PATH="${HOME}/.local/bin/mise" sh;
fi

{{ $usages := .usages -}}

{{- range $usage, $brew := .darwinPackages -}}
{{- if or (has $usage $usages) (eq $usage "common") -}}
{{- range (index $brew "taps") -}}
if ! brew tap | grep -q {{ . | quote }}; then
  brew tap {{ . | quote }}
else
  echo "tap {{ . }} is already known ... skipping"
fi
{{ end -}}
{{ end -}}
{{ end -}}

{{- if hasKey . "additionalBrews" }}
{{- range (index .additionalBrews "taps") -}}
if ! brew tap | grep -q {{ . | quote }}; then
  brew tap {{ . | quote }}
else
  echo "tap {{ . }} is already known ... skipping"
fi
{{ end -}}
{{ end }}

brew bundle --cleanup --zap --file=/dev/stdin <<EOF
brew "mas"
{{ range $usage, $brew := .darwinPackages -}}
{{ if or (has $usage $usages) (eq $usage "common") -}}
{{ template "brewfile.tmpl" $brew }}
{{ end -}}
{{- end }}

{{ if hasKey . "additionalBrews" -}}
{{ template "brewfile.tmpl" .additionalBrews -}}
{{ end -}}

EOF
{{ end -}}
