[settings.status]
show_env = true
show_tools = true

[settings.cargo]
binstall = true

[tools]
cargo-binstall = "latest"
eza = "latest"
grpcurl = "latest"
jj = "latest"
pre-commit = "latest"
rust = "latest"
shellcheck = "latest"
starship = "latest"
usage = "latest"
zoxide = "latest"

"github:iffse/pay-respects" = "latest"
"forgejo:mergiraf/mergiraf" = "latest"
"github:fullstorydev/grpcui" = "latest"
"cargo:bacon" = "latest"
"github:crisidev/bacon-ls" = "latest"
"github:tbillington/kondo" = "latest"

"cargo:cargo-llvm-cov" = "latest"
"cargo:cargo-nextest" = "latest"
"cargo:cargo-sort" = "latest"
"cargo:cargo-tarpaulin" = "latest"
