[settings.status]
show_env = true
show_tools = true

[settings.cargo]
binstall = true

[tools]
cargo-binstall = "latest"
direnv = "latest"
eza = "latest"
go = "latest"
golangci-lint = "latest"
grpcurl = "latest"
jj = "latest"
pre-commit = "latest"
ruff = "latest"
rust = "latest"
shellcheck = "latest"
starship = "latest"
typst = "latest"
typstyle = "latest"
uv = "latest"
zoxide = "latest"

"cargo:pay-respects" = "latest"
"cargo:mergiraf" = "latest"
"go:github.com/fullstorydev/grpcui/cmd/grpcui" = "latest"

"cargo:bacon" = "latest"
"cargo:bacon-ls" = "latest"
"cargo:cargo-nextest" = "latest"
"cargo:cargo-llvm-cov" = "latest"
