{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

if ! (command -v mise 2>&1 >/dev/null); then
  echo "mise is not installed, proceeding to installation ...";
  curl https://mise.run | MISE_INSTALL_PATH="${HOME}/.local/bin/mise" sh;
fi

{{ end -}}
